<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Berry's profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="" th:href="@{/static/css/home.css}" /> 
  </head>

  <body>
     <div>
     <!-- <img src="../static/images/home.png" alt="berry logo" title="berry logo" 
           th:src="@{/static/images/home.png}" th:alt-title="vvvvv" /> -->
           
     <img src="../static/images/home.png" alt="berry logo" title="berry logo"/>
      
    </div>
    <p>Please select an optiond7</p>
  </body>
  
</html>

